:root {
    --main-background: #E5E7EB;
    --dark-main-background: black;
    --text-color: white;
    --dark-text-color: black;
    --container-background: #B3CAE5;
    --dark-container-background: #527caf;
}
body.dark-mode .search-input {
    color: var(--dark-text-color);
}
body.dark-mode {
    background-color: var(--dark-main-background);
    color: var(--text-color);
}

body.dark-mode .random-text {
    color: var(--dark-text-color);
}

body.dark-mode .addon {
    background-color: var(--dark-container-background);
    box-shadow: 10px 10px 10px rgb(0, 0, 0, 0.2);
    color: var(--text-color);
}

body.dark-mode .addon-name {
    color: var(--text-color);
}

body.dark-mode .addon-description {
    color: var(--text-color);
}

body.dark-mode .addon-version {
    color: var(--text-color);
}

body.dark-mode .addon-loader {
    color: var(--text-color);
}

body.dark-mode .addon-author {
    color: var(--text-color);
}

body.dark-mode .addon-rating {
    color: var(--text-color);
}

body.dark-mode input {
    background-color: var(--dark-container-background);
}

body.dark-mode .select-button {
    background-color: var(--dark-container-background);
}

body.dark-mode p {
    background-color: var(--dark-container-background);
}

body.dark-mode .search-button {
    background-color: var(--dark-container-background);
}

body.dark-mode .select-dropdown {
    background-color: var(--dark-container-background);
}

.addon-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Adjusted grid layout */
    gap: 20px; /* Adjusted gap */
    margin: 20px auto; /* Center the grid horizontally */
    max-width: 80vw;
}

.addon {
    width: 25vw; /* Adjusted width */
    max-width: 250px; /* Added maximum width */
    height: auto;
    border-radius: 1.9em;
    padding: 20px;
    background-size: cover; /* Ensure the background image covers the entire box */
    background-position: center; /* Center the background image */
    align-items: left;
    position: relative; /* Ensure relative positioning for absolute positioning of child elements */
    display: flex; /* Use flexbox to control the layout of child elements */
    flex-direction: column; /* Stack child elements vertically */
    text-align: left;
    box-shadow: 10px 10px 10px rgb(0, 0, 0, 0.2);
    background-color: var(--container-background);
}

.addon-name {
    color: var(--dark-text-color);
    font-family: Arial, Helvetica, sans-serif;
    position: relative; /* Ensure text appears above the pseudo-element */
    z-index: 1; /* Ensure text is on top of the pseudo-element */
    font-size: 1.4em;
    margin-top: 0;
    margin-bottom: 10px; /* Add margin to separate from other text */
    text-shadow: 3px 2px 10px rgb(0, 0, 0, 0.3);
}

.modloaders {
    margin-top: 5px;
}

.modloaders > a {
    margin-left: 2px;
    margin-right: 2px;
}

.addon-versions {
    margin-top: 4px;
    margin-bottom: 4px;
    max-width: 100%;
    overflow-y: hidden;
    padding-top: 4px;
    padding-bottom: 4px;
}

.addon-version {
    background-color: rgb(85, 85, 255);
    border: .5px solid blue;
    border-radius: 6px;
    color: var(--text-color);
    padding: 3px;
    font-size: 13px;
    margin: 2px;
    width: auto;
    white-space: nowrap;
}

.addon-description {
    color: var(--dark-text-color);
    font-family: Arial, Helvetica, sans-serif;
    position: relative; /* Ensure text appears above the pseudo-element */
    z-index: 1; /* Ensure text is on top of the pseudo-element */
    font-size: 0.8em;
    margin-top: 0; /* Adjust margin */
    margin-bottom: 5px; /* Adjust margin */
}

.random-text {
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
    background-color: var(--container-background);
    width: fit-content;
    box-shadow: 5px 5px 5px rgb(0, 0, 0, 0.2);
    border-radius: 5px;
}

.search-bar {
    display: flex; /* Add flex display */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    margin-bottom: 20px; /* Add margin to separate from the addon list */
}

.search-input {
    background-color: var(--container-background);
    padding-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 1.9em;
    border-width: 0px;
    height: 3vw;
    width: 23vw;
    box-shadow: 3px 2px 5px rgb(0, 0, 0, 0.5);
    font-size: 1.5vw;
}

.search-button {
    font-size: 1.5vw;
    background-color: var(--container-background);
    border: none;
    border-radius: 1.9em;
    height: 3vw;
    width: 6vw;
    margin-left: 1vw;
    box-shadow: 3px 2px 5px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0, 0.6);
}

.search-bar a {
    font-size: 1.5vw;
    background-color: var(--container-background);
    border: none;
    border-radius: 1.9em;
    height: 3vw;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 1vw;
    box-shadow: 3px 2px 5px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: rgb(0, 0, 0, 0.6);
}

.search-container {
    width: 10vw;
    height: 2vw;
    background-color: var(--dark-main-background);
    display: flex;
}

.dropdowns {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.custom-select {
    position: relative;
    width: 250px;
    max-width: 100%;
    font-size: 1.15rem;
    color: #000;
    z-index: 10;
    margin-left: 5px;
    margin-right: 5px;
}

.select-button {
    width: 100%;
    font-size: 1.15rem;
    padding: 0.675em 1em;
    margin: 0;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: var(--container-background);
    border: none;
    border-radius: 1.9em;
    height: 3vw;
    box-shadow: 3px 2px 5px rgb(0, 0, 0, 0.5);
}

.selected-value {
    text-align: left;
}

.arrow {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid #000;
    transition: transform ease-in-out 0.2s;
}

.select-dropdown {
    position: absolute;
    list-style: none;
    width: calc(100% - 20px);
    padding: 10px;
    margin-top: 10px;
    max-height: 200px;
    overflow-y: auto;
    transition: 0.2s ease;

    transform: scaleY(0);
    opacity: 0;
    visibility: hidden;

    background-color: var(--container-background);
    border: none;
    border-radius: 1em;
    box-shadow: 3px 2px 5px rgb(0, 0, 0, 0.5);
}


.select-dropdown:focus-within {
    box-shadow: 0 10px 25px rgba(94, 108, 233, 0.6);
}

.select-dropdown li {
    position: relative;
    cursor: pointer;
    display: flex;
    gap: 1rem;
    align-items: center;
}

.select-dropdown li label {
    width: 100%;
    padding: 8px 10px;
    cursor: pointer;
    display: flex;
    gap: 1rem;
    align-items: center;
}

.select-dropdown::-webkit-scrollbar {
    width: 7px;
}

.select-dropdown::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 25px;
}

.select-dropdown::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 25px;
}

.select-dropdown li:hover,
.select-dropdown input:checked ~ label {
    background-color: #919aff;
}

.select-dropdown input:focus ~ label {
    background-color: #919aff;
}

.select-dropdown input[type="radio"] {
    position: absolute;
    left: 0;
    opacity: 0;
}

/* interactivity */
.custom-select.active .arrow {
    transform: rotate(180deg);
}

.custom-select.active .select-dropdown {
    opacity: 1;
    visibility: visible;
    transform: scaleY(1);
}

.modrinth-download {
    transition: 0.2s linear;
}

.modrinth-download:hover {
    box-shadow: rgb(0, 0, 0, 0.3) 3px 3px 10px;
}

.addon {
    transition: 0.2s linear;
}

.addon:hover {
    background-color: #a4c2e4;
}
