@import url('https://fonts.cdnfonts.com/css/minecraftia');

body {
    background-color: black;
    margin: 0;
}

.title {
    color: white;
    font-family: "Minecraftia", Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 3em;
    text-align: center;
}

.title-description {
    color: white;
    font-family: "Minecraftia", Arial, Helvetica, sans-serif;
    font-size: 1em;
    text-align: center;
    font-weight: lighter;
}
