.twa-banner {
    height: 4em;
    width: 100%;
    background-image: url("../twa_background.webp");
    background-position: left center;
    background-color: #B3CAE5;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    animation: moveBackground 18s linear infinite; 
}
@keyframes moveBackground {
    0% {
        background-position: left; 
    }
    100% {
        background-position: right; 
    }
}
.dark-mode {
    .side-box h3, h4 {
        color: white;
    }
    .side-box {
        background-color: #527caf;
    }
    .discover-addons-background {
        background-color: #527caf;
    }
    .discover-addons-line {
        background-color: #527caf;
    }
    .home-more-addons-button {
        background-color: #B3CAE5;
    }
    .more-addons-inside-text {
        color: black;
    }
    .site-info {
        background-color: #527caf;
    }
    .site-info h2, h3, h4{
        color: whitesmoke;
    }
    .blogpost:link {
        color: rgb(177, 211, 255);
    }
    .blogpost:visited {
        color: rgb(177, 211, 255);
    }
}
.twa-banner-text * {
    font-family: 'Minecraftia', Arial, Helvetica, sans-serif;
}

.twa-banner-text {
    font-family: 'Minecraftia', Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-style: normal; 
    color: black;
    text-decoration: none;
    margin-right: 30px;    
    font-size: auto;
    padding-left: 0.5rem;
    text-shadow: rgb(0, 0, 0, 0.4) 3px 3px 10px;
}

.home-slideshow-container {
    display: flex;
    align-items: top; 
    justify-content: center; 
}

.home-slideshow-image {
    width: 40vw;
    height: 24vw;
    position: relative;
    border-radius: 1.9em;
    transition: opacity 0.5s linear;
}

.home-slideshow-image.hidden {
    opacity: 0.4; 
}

.home-slideshow-image.visible {
    opacity: 1; 
}

.side-box {
    width: 20vw;
    height: auto; 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    position: relative;
    border-radius: 1.9em;
    background-color: #B3CAE5;
    text-align: center;
    vertical-align: sub; 
    margin-left: 1em; 
    padding: 20px; 
    font-family: Arial, Helvetica, sans-serif;
    align-content: left;
    transition: filter 0.3s linear;
    transition: box-shadow 0.2s linear;
}

.side-box:hover {
    filter: brightness(1.05);
}

.side-box img {
    max-height: 200px;
    height: 7vw;
    max-width: 200px;
    position: relative;
}

.side-box-text {
    font-size: 1.5vw;
}

.side-box-dsc {
    margin-top: -1vw;
    font-size: 1.3vw;
    font-family: Arial, Helvetica, sans-serif;
}

.discover-addons-line {
    height: 2px;
    width: 100%;
    background-color: #B3CAE5;
    position: relative;
    opacity: 0.5;
    left: 0;
    right: 0;
    z-index: 1;
}

.home-discover-addons {
    margin-top: -5px;
    text-align: center;
    position: relative;
}

.home-discover-addons-text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
}

.addon-list {
    display: grid;
    grid-template-columns: 0.3fr 0.3fr 0.3fr;
    grid-gap: 20px;
    margin: 20px auto; 
    padding: 0; 
    justify-content: center;
    max-width: 80vw;
    align-content: center;
}

.addon {
    width: auto;
    height: auto;
    border-radius: 2em;
    padding: 20px;
    background-size: cover; 
    background-position: center; 
    align-items: left;
    position: relative; 
    display: flex; 
    flex-direction: column; 
    text-align: left;
    box-shadow: 10px 10px 10px rgb(0, 0, 0, 0.2);
    transition: box-shadow 0.2s linear;
}
.blogpost:link {
    color: rgb(49, 79, 117);
}
.blogpost:visited {
    color: rgb(49, 79, 117);
}
.addon:hover {
    box-shadow: 10px 10px 10px rgb(0, 0, 0, 0.5);
}

.addon::before {
    content: ""; 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    border-radius: 1.9em;
}

.addon h3 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    position: relative; /* Ensure text appears above the pseudo-element */
    z-index: 1; /* Ensure text is on top of the pseudo-element */
    font-size: 1.5vw;
    margin-top: -5px;
    text-shadow: 3px 2px 10px black;
}
.addon h4 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    position: relative; /* Ensure text appears above the pseudo-element */
    z-index: 1; /* Ensure text is on top of the pseudo-element */
    font-size: 1.1vw;
    margin-top: -0.8vw;
    margin-bottom: -5px;
    font-weight: 500;
    text-shadow: 3px 2px 10px black;
}
.home-more-addons-button-container {
    text-align: center; /* Center the button */
}

.home-more-addons-button {
    display: inline-block;
    padding: 1vw 1.5vw;
    background-color: #3e76b3;
    color: white;
    text-decoration: none;
    border-radius: 0.4em;
    font-size: 1.2em;
    transition: 0.2s ease;
}

.home-more-addons-button:hover {
    background-color: #4985ce;
}
.more-addons-inside-text {
    color: white;
    font-size: 1.5vw;
    font-family: Arial, Helvetica, sans-serif;
}
.discover-addons-background {
    background-color: #B3CAE5;
}
.site-info {
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #B3CAE5;
}
.h2-blueprint {
    color: black;
    font-size: 2em;
}
.h3-blueprint {
    color: black;
    font-size: 1.2rem;
}
.h4-blueprint {
    color: black;
    font-size: 1em;
}