body {
    background-color: #E5E7EB;
    margin: 0;
}
.top-bar {
    position: fixed;
    top: 0;
    width: 100vw; 
    background-color: white;
    display: flex;
    justify-content: center; 
    align-items: center; 
    padding: 10px 0; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); 
    z-index: 9999; 
}
.top-bar-logo {
    margin-right: 0.7em;
    position: relative;
    border-radius: 50%; 
}
.top-bar-name {
    font-family: Arial, Helvetica, sans-serif;
    color: inherit;
    text-decoration: none;
    margin-right: 2em;    
    font-size: auto;
    color: black;
}
.top-bar-news,
.top-bar-random,
.top-bar-about,
.top-bar-addons {
    font-family: Arial, Helvetica, sans-serif;
    color: inherit;
    text-decoration: none;
    margin-right: 1em;    
    font-size: auto;
    color: black;
}
.random-addon {
    height: auto;
    width: 40em;
    background-color: #B3CAE5;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    align-self: center;
    border-radius: 1.9em;
    height: auto;
    border-radius: 1.9em;
    padding: 20px;
    background-size: cover; 
    background-position: center; 
    position: relative; 
    display: flex; 
    align-items: left;
    justify-content: left;
    text-align: left;
    flex-direction: column; 
    box-shadow: 10px 10px 10px rgb(0, 0, 0, 0.2);
}
.random-background {
    object-fit: cover;
    border-radius: 1.9em;
}
.random-addon-name {
    color: black;
    margin-left: 1em;
    margin-bottom: -0.6em;

}
.random-addon-description {
    color: black;
    margin-left: 1em;
    
}
.random-addon-logo {
    height: 5em;
    width: 5rem;
    margin-left: 1em;
    margin-top: 1em;
}
.random-header {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: xxx-large;
}
.confetti {
    position: fixed;
    width: 10px;
    height: 10px;
    background-color: #f00; /* You can adjust the color */
    animation: confetti-fall linear 4s infinite;
    pointer-events: none;
}

@keyframes confetti-fall {
    0% { transform: translateY(0); }
    100% { transform: translateY(100vh) rotate(360deg); }
}
.bottom-bar {
    height: 8em;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: left;
    justify-content: center; /* Center elements horizontally */
    align-self: center;
    gap: 10px;
    flex-direction: column; /* Align items vertically */
    text-align: left;
}
.bottom-bar-sitename {
    color: white;
    position: inherit;
    margin-left: 1em;
    margin-top: 1em;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
}
.bottom-bar-logo {
    margin-top: 1em;
    width: 2em;
    position: relative;
    margin-left: 1em;
    margin-bottom: -1em;
}
.bottom-bar-bug {
    color: white;
    position: inherit;
    margin-left: 1.5em;
    margin-top: -2.5em;
    font-size: 0.7em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
}