body.dark-mode p {
    color: black;
}

.viewer-text {
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
    background-color: #B3CAE5;
    width: fit-content;
    box-shadow: 5px 5px 5px rgb(0, 0, 0, 0.2);
    border-radius: 5px;
}
