:root {
    --main-background: #E5E7EB;
    --dark-main-background: black;
    --text-color: white;
    --dark-text-color: black;
    --container-background: #B3CAE5;
    --dark-container-background: #527caf;
}

.drop-zone {
    width: 400px;
    height: 200px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: var(--container-background);
    box-shadow: 5px 5px 5px rgb(0, 0, 0, 0.2);
    border-radius: 20px;
}

table {
    visibility: hidden;
    border-collapse: collapse;
    border: 2px solid rgb(140 140 140);
    font-family: sans-serif;
    font-size: 0.8rem;
    letter-spacing: 1px;
}
  
caption {
    caption-side: bottom;
    padding: 10px;
    font-weight: bold;
}
  
thead,
tfoot {
    background-color: var(--container-background);
}
  
th,
td {
    border: 1px solid rgb(160 160 160);
    padding: 8px 10px;
}
  
td:last-of-type {
    text-align: center;
}
  
tbody > tr:nth-of-type(even) {
    background-color: var(--container-background);
}
  
tfoot th {
    text-align: right;
}

tfoot td {
    font-weight: bold;
}

body.dark-mode .drop-zone {
    background-color: var(--dark-container-background);
}

thead,
tfoot {
    background-color: var(--dark-container-background);
}

tbody > tr:nth-of-type(even) {
    background-color: var(--dark-container-background);
}